 div {

     display:block;
     text-align:center;
    }
body {
    font-family: arial;
    font-size: 13px;
    margin: 0px;
}
#searchform {
    padding: 20px;
}
#searchbuttons {
    padding: 15px;
    }
#logo{
    margin-top: 50px;
    border: 50px;
    padding-top: 150px;
}
#about-link a {
    display: inline-block;
    text-decoration-line: none;
    text-decoration-style: solid;
    color: black;
    font-family: arial, sans-serif;
    font-size: 13px;
    padding: 5px;
    position: relative;
    right: 850px;
   bottom: 360px;
   opacity: 0.75;
}
#Gmail-Images a {
    position: relative;
    left: 700px;
    bottom: 380px;
    text-decoration-line: none;
    font-family: arial;
    font-size: 13px;
    opacity: 0.75;
    color: black;
    padding: 5px;
}
#Sign-in-button  {
    position: relative;
    left: 800px;
    bottom: 400px;
}
p {
    font-family: arial;
    font-size: 13px;
    color: black;
    position: relative;
    left: 870px;
    bottom: 50px;
    text-decoration-line: none;
}
ul {
    list-style-type: none;
    overflow: hidden;
}
li {
    display: inline;
    position: relative;
}
li a {
    opacity: 0.75;
    color: black;
    background-color:  grey;
    text-decoration: none;
}
#bottom-left-nav-bar {
float: left;
}
#bottom-right-nav-bar {
float: right;
}




    
