 div {

     display:block;
     text-align:center;
    }
body {
    font-family: sans-serif;
    font-size: 13px;
}
#searchform {
    padding: 20px;
    border
}
#searchbuttons {
    padding: 15px;
    background-color: ;
}
#logo{
    margin-top: 50px;
    border: 50px;
    padding-top: 150px;
}
#about-link a {
    display: inline-block;
    text-decoration-line: none;
    text-decoration-style: solid;
    color: black;
    font-family: arial, sans-serif;
    font-size: 13px;
    padding: 5px;
    position: relative;
    right: 400px;
   bottom: 360px;
   opacity: 0.75;
}
#Gmail-Images a {
    position: relative;
    left: 250px;
    bottom: 380px;
    text-decoration-line: none;
    font-family: arial;
    font-size: 13px;
    opacity: 0.75;
    color: black;
    padding: 5px;
}
#Sign-in-button  {
    position: relative;
    left: 350px;
    bottom: 400px;
}
p {
    font-family: arial;
    font-size: 13px;
    color: black;
    position: relative;
    left: 390px;
    bottom: 50px;
    text-decoration-line: none;
}


    
